<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SystemGestion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>mypackage.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>mypackage.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>equipeServlet</display-name>
    <servlet-name>equipeServlet</servlet-name>
    <servlet-class>mypackage.servlet.equipeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>equipeServlet</servlet-name>
    <url-pattern>/equipeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>mypackage.servlet.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/SystemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>roleServlet</display-name>
    <servlet-name>roleServlet</servlet-name>
    <servlet-class>mypackage.servlet.roleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>roleServlet</servlet-name>
    <url-pattern>/roleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joueur</display-name>
    <servlet-name>joueur</servlet-name>
    <servlet-class>mypackage.servlet.joueur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joueur</servlet-name>
    <url-pattern>/joueur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joueurServlet</display-name>
    <servlet-name>joueurServlet</servlet-name>
    <servlet-class>mypackage.servlet.joueurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joueurServlet</servlet-name>
    <url-pattern>/joueurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>classementServlet</display-name>
    <servlet-name>classementServlet</servlet-name>
    <servlet-class>mypackage.servlet.classementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>classementServlet</servlet-name>
    <url-pattern>/classementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matchServlet</display-name>
    <servlet-name>matchServlet</servlet-name>
    <servlet-class>mypackage.servlet.matchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matchServlet</servlet-name>
    <url-pattern>/matchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>matchJoueurServlet</display-name>
    <servlet-name>matchJoueurServlet</servlet-name>
    <servlet-class>mypackage.servlet.matchJoueurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>matchJoueurServlet</servlet-name>
    <url-pattern>/matchJoueurServlet</url-pattern>
  </servlet-mapping>
</web-app>